body{
    margin:0;
    padding:0;
}
section{
    display:flex;
    justify-content: space-between;
    width:100vw;
    align-items:center;
    margin-top: 0;
    padding-top:0;
    height:60px;
    z-index:1;
}
.navbar span{
    
    padding-left:16px;
}
ul{
    display:flex;
    float:right;
    padding: 5px 30px;
    

}
li{
    list-style-type: none;
    padding: 20px;
}
a{
    text-decoration: none;
    color:black;
}
iframe{
    z-index:-1;
}