*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
.background-container{
    height:100vh;
    width:100vw;
    position: relative;
}
.background{
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    
}
.top-left .outer-box{
    width:150px;
    height:150px;
    background-color:#bb3636;
    position: absolute;
    top:-50px;
    left:-50px;
    z-index:1;
    border-radius: 50%;
}

.bottom-right .outer-box{
    width:150px;
    height:150px;
    background-color:#bb3636;
    position: absolute;
    bottom:-50px;
    right:-50px;
    z-index:1;
    border-radius: 50%;
}
.home-container{
    width:80vw;
    height:80vh;
    position: absolute;
    top:10%;
    left:10%;
    z-index:2;
    display: flex;
    box-shadow: 8px 8px 10px darkgray;
}
.home-container .left-side , .home-container .right-side {
    width:50%;
    height: 100%;
}

.home-container .right-side{
    background-image: url(images/leafy\ background.jpg);
    background-position: center;
    background-size: cover;
}