body,html{
    margin:0;
    padding:0;
}


.video-container{
    width:100%;
    height: 50vh;
    position:relative;
   
    top:0;
    left:0;
}
#back-video{
    width:100%;
    height:50vh;
    position:absolute;
    object-fit: cover;
    z-index:-1;
}

.gradient-overlay{
    width:100%;
    height:50vh;
    position:absolute;
    background-image:linear-gradient( rgba(247, 238, 238, 0.2), rgba(59, 59, 59, 0.2), rgba(5, 3, 3, 0.8));
    z-index:1;
}

.navbar{
    position:absolute;
    display:flex;
    justify-content: space-between;
    width:100vw;
    align-items:center;
    margin-top: 0;
    padding-top:0;
    height:60px;
    background:transparent;
    z-index:2;
}
.navbar span{
    
    padding-left:16px;
}
.navbar ul{
    display:flex;
    float:right;
    padding: 5px 30px;
    

}
.navbar li{
    list-style-type: none;
    padding: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
    font-family:"Nanto Serif";
}
.navbar ul li a:hover{
    color:white;
}

img{
    object-fit:cover;
    position: relative;
    margin:0;
    z-index:-1;
}
.image-overlay{
    width:100%;
    height:200px;
    background-image: linear-gradient( rgba(30,30,30,0.4),  rgba(190, 18, 18, 0.4));
    position:absolute;
    z-index:1;

}
.image-container{
    width:100%;
    height:200px;
    display:flex;
    position: relative;
    top:0;
    left:0;
}
#about .image-container h1{
    position: absolute;
    font-size:4rem;
    font-family:"Nunito Sans";
    text-align:center;
    color:white;
    text-align:center;
    z-index:2;
}
.content{
    background-color: cadetblue;
    
    padding-top:40px;
}
p{
    font-family:"Nanto Serif";
    text-align:center;
    font-size:1.2rem;

}